<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.xuchengen.server.account.dao.mapper.AccountDOMapper">
    <resultMap id="BaseResultMap" type="com.github.xuchengen.server.account.dao.model.AccountDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="money" jdbcType="INTEGER" property="money"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, money
    </sql>

  <update id="decreaseAccount">
    update account_tbl set money = money - ${amount} where user_id = #{userId}
  </update>

  <update id="testGlobalLock">
    select * from account_tbl where user_id = #{userId} for update
  </update>

</mapper>