<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.xuchengen.server.storage.dao.mapper.StorageDOMapper">
    <resultMap id="BaseResultMap" type="com.github.xuchengen.server.storage.dao.model.StorageDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="commodity_code" jdbcType="VARCHAR" property="commodityCode"/>
        <result column="count" jdbcType="INTEGER" property="count"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, commodity_code, count
    </sql>

    <update id="decreaseStorage">
        update storage_tbl set count = count - ${count} where commodity_code = #{commodityCode}
    </update>

</mapper>